@model ALT_ERP3.GridOption
@using Common;
<script>
    $(document).ready(function () {
        $(".MultiPrintClass").click(function () {
            var tds = $(this).closest("tr").find("td");
            var Format = tds.eq(2).text();
            tds.find('input[type="checkbox"]').prop('checked', true);
            var StoreProcedure = tds.eq(3).text();
            window.open("/Vehicles/MasterGrid/PrintSingleDocumentCrystal?StoreProcedure=" + StoreProcedure + '&Format=' + Format + '&Document=' + $('#hdnDocument').val() + '&Branch=' + $('#hdnBranch').val(), "_blank");

        });
        $('#btnMultiPrint').click(function (event) {
            event.preventDefault();
            var myFormatArray = []
            $('#printgrid tr:not(:first)').each(function () {
                var tds = $(this).find('td');
                if (tds.find('input[type="checkbox"]').is(':checked')) {
                    Format = tds.eq(2).text();
                    myFormatArray.push(Format);
                }
            })
            window.open("/Vehicles/MasterGrid/SendMultiReport?Format=" + myFormatArray.toString() + "&Type=" + $('#Type').val() + "&Document=" + $('#hdnDocument').val() + '&Branch=' + $('#hdnBranch').val(), "_blank");

        });
    });
</script>
<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc;padding-top:5px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><b>Print</b></h4>
        </div>
        <div class="modal-body">
            <div class="grid" id="PrintGridTable" style="max-height:350px;min-height:350px; width:100%; overflow: scroll;">
                <table id="printgrid" class="zui-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Format</th>
                            <th>StoreProcedure</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PrintGridList != null)
                        {
                            for (int i = 0; i < Model.PrintGridList.Count; i++)
                            {
                                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                                    <td style="width:10%;"><button type="button" class="MultiPrintClass"><img src="/Content/Images/Print.ico" /></button></td>
                                    <td style="width:10%;" align="center">@Html.CheckBoxFor(m => Model.PrintGridList[i].IsFormatSelected, new { @Style = "width:27px;heigth:27px;" })</td>
                                    <td style="width:40%;">@Html.DisplayFor(m => Model.PrintGridList[i].Format)</td>
                                    <td style="width:40%;">@Html.DisplayFor(m => Model.PrintGridList[i].StoreProcedure)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <input id="PrintDocument" hidden="hidden" />
        </div>
        <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;">
            <button type="button" class="btn btn-warning" data-dismiss="modal" id="btnMultiPrint">Print</button>
            <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
        </div>
    </div>
</div>


@Html.HiddenFor(x => x.Document, new { @id = "hdnDocument" })

