
.vs/ALT_ERP3/v15/Server/sqlite3/storage.ide-shm
.vs/ALT_ERP3/v15/Server/sqlite3/storage.ide
.vs/ALT_ERP3/v15/Server/sqlite3/db.lock
.vs/ALT_ERP3/v15/Server/sqlite3/storage.ide-wal
.vs/ALT_ERP3/v15/.suo
.vs/config/applicationhost.config
ALT_ERP3/bin/ALT_ERP3.dll
EntitiModel/obj/Release/EntitiModel.csprojAssemblyReference.cache
ALT_ERP3/bin/ALT_ERP3.dll
ALT_ERP3/bin/ALT_ERP3.dll
ALT_ERP3/bin/ALT_ERP3.dll
ALT_ERP3/bin/ALT_ERP3.pdb
EntitiModel/obj/Debug/EntitiModel.csproj.CoreCompileInputs.cache
ALT_ERP3/bin/ALT_ERP3.dll
/ALT_ERP3/bin
/ALT_ERP3/bin
