
@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<style>
    .col-sm-2 {
        width: 10.666667%;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .form-control {
        height: 24px;
        border: 1px solid #BBBABA;
        color: black;
    }

    .form-horizontal .control-label {
        padding-top: 5px;
        color: black;
    }

    .CodeSt {
        font-size: 18px;
    }

    .fixhead {
        text-transform: uppercase;
    }

    table {
        border-collapse: unset;
    }
</style>
<script src="~/Content/js/chart-js/Chart.js"></script>
<script src="~/Content/js/chartjs.init.js"></script>
<header class="header fixed-top" style="position:fixed;background-color:lightgray;padding:6px;width:100%;margin-top:5px;">
    <div class="fixhead">
        <b class="CodeSt">DashBoard</b>
    </div>
</header>
<section id="main-content">
    <section class="wrapper">
        <!--mini statistics start-->
        <div class="row">
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
                    <div class="mini-stat-info">
                        <span>10</span>
                        New Complaints Received
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span>
                    <div class="mini-stat-info">
                        <span>100</span>
                        Total Complaints
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>50</span>
                        Pending Complaints
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                    <div class="mini-stat-info">
                        <span>50</span>
                        Closed Complaints
                    </div>
                </div>
            </div>
        </div>
        <!--mini statistics end-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Bar Chart
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="chartJS">
                            <canvas id="bar-chart-js" height="250" width="800"></canvas>

                        </div>

                    </div>
                </section>
            </div>
        </div>

    </section>
</section>

<footer class="footer-section" style="position:fixed;background-color:#4B4A4A;padding:8px;color:white;height:33px;">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-3" style="margin-top:0px;">
        ALT.air.3 by Shruham Software
    </div>
    <div class="col-sm-4">
    </div>
</footer>
