@model ALT_ERP3.Areas.Accounts.Models.OtherTransactModel
@using Common

<div class="form-horizontal" id="ledgerupdate" style="margin-left:0px;">
    
    <div class="col-sm-6" style="padding-left: 0px;">
        <div class="grid" id="TruckRelatedDiv">
            @Html.Partial("TruckTableView", Model)
        </div>
    </div>

    <div class="col-sm-6" id="hdnDivTyreStkSrl">
        @Html.Partial("TyreStockSerial", Model)
    </div>
</div>
<br />

<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#RelatedChoice').change(function () {
            if ($('#RelatedChoice').val() == "Tyrestock" || $('#RelatedChoice').val() == "Remould") {
                debugger;
                $("#truckrelatedtable tbody tr").each(function () {
                    var sectds = $(this).find('td');
                    if (sectds.eq(0).text() == "F002" || sectds.eq(0).text() == "F003") {
                        sectds.find(".addontxtfvalue").prop('disabled', true);
                    }
                });
                $("#itemrelatedtable tbody tr").each(function () {
                    var sectds = $(this).find('td');
                    if (sectds.eq(0).text() == "F008" || sectds.eq(0).text() == "F009" || sectds.eq(0).text() == "F012") {
                        sectds.find(".addontxtfvalue").prop('disabled', true);
                    }
                });

            }
            else {
                debugger;
                $("#truckrelatedtable tbody tr").each(function () {
                    var sectds = $(this).find('td');
                    if (sectds.eq(0).text() == "F002" || sectds.eq(0).text() == "F003") {
                        sectds.find(".addontxtfvalue").prop('disabled', false);
                    }
                });
                $("#itemrelatedtable tbody tr").each(function () {
                    var sectds = $(this).find('td');
                    if (sectds.eq(0).text() == "F008" || sectds.eq(0).text() == "F009" || sectds.eq(0).text() == "F012") {
                        sectds.find(".addontxtfvalue").prop('disabled', false);
                    }
                });
            }
        });
    });
</script>

