@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<header class="header fixed-top" style="position:fixed;background-color:lightgray;padding:21px;width:100%;"></header>
<footer class="footer-section" style="height:33px;position:fixed;background-color:#4B4A4A;padding:3px;color:white;">
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-3" style="text-align:center; margin-top:5px;color:white;font-family:Helvetica;font-size:9pt;padding-top:0px;">
            ALT.air.3, by Shruham Software
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</footer>
