@model LRInvoiceVM
@using Common;






@*<div id="ItemListTable">*@
    @Html.Partial("ItemList", Model)
@*</div>*@






<div class="example-modal">
    <div id="addonmodel" class="modal modal-default" style="z-index:2500;">
        <div class="modal-dialog modal-lg" style="width:1000px;">
            <div id="Dialog">
                @Html.Partial("AddOnGrid", Model)
            </div>
        </div>
    </div>
</div>

<div class="example-modal">
    <div id="itemlistupdate" class="modal modal-default" style="margin-top: 1%;" >
        <div class="modal-dialog modal-lg" role="document" style="width:1040px;overflow:unset">
            <div id="ItemListUpdate">
                @Html.Partial("UpdateItemList")
            </div>
        </div>
    </div>
</div>

