<select class="form-control" id="ClassValues1" name="ClassValues1" style="color:black;width:48%;display:inline-block;" selected="selected"></select>
<select class="form-control" id="ClassValues2" name="ClassValues2" style="color:black;width:48%;display:inline-block;"></select>
<script>
    var paraItemcode;
    function loadClassValues1(paraItemcode) {
        var url = '@Url.Action("GetClassValues1")?ItemCode=' + paraItemcode;
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
            },
            success: function (result) {
                $("#ClassValues1").empty();
                $.each(result, function (i, item) {
                    $("#ClassValues1").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('#ClassValues1').val($('#hdnClassValues1').val()).attr("selected", "selected");
            },
            error: function () {
                $('.spinner').hide();
                alert("3-An error occurred while processing the request.");
            }
        });
    };

    function loadClassValues2(paraItemcode) {
        var url = '@Url.Action("GetClassValues2")?ItemCode=' + paraItemcode;
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
            },
            success: function (result) {
                $("#ClassValues2").empty();
                $.each(result, function (i, item) {
                    $("#ClassValues2").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('#ClassValues2').val($('#hdnClassValues2').val()).attr("selected", "selected");
            },
            error: function () {
                $('.spinner').hide();
                alert("3-An error occurred while processing the request.");
            }
        });
    };
</script>