<div class="col-sm-1 control-label">Property1:</div>
<div class="col-sm-2">
     <select class="form-control" id="UpdateClassValues1" name="UpdateClassValues1" style="color:black;display:inline-block;" selected="selected"></select>
</div>
<div class="col-sm-1 control-label">Property2:</div>
<div class="col-sm-2">
    <select class="form-control" id="UpdateClassValues2" name="UpdateClassValues2" style="color:black;display:inline-block;"></select>
</div>

<script>
    var paraItemcode2;
   
   function loadClassValuesEdit1(paraItemcode2) {
        var url = '@Url.Action("GetClassValues1")?ItemCode=' + paraItemcode2;
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
            },
            success: function (result) {
                $("#UpdateClassValues1").empty();
                $.each(result, function (i, item) {
                    $("#UpdateClassValues1").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('#UpdateClassValues1').val($('#hdnuClassValues1').val()).attr("selected", "selected");
            },
            error: function () {
                $('.spinner').hide();
                alert("3-An error occurred while processing the request.");
            }
        });
    };

    function loadClassValuesEdit2(paraItemcode2) {
        var url = '@Url.Action("GetClassValues2")?ItemCode=' + paraItemcode2;
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
            },
            success: function (result) {
                $("#UpdateClassValues2").empty();
                $.each(result, function (i, item) {
                    $("#UpdateClassValues2").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('#UpdateClassValues2').val($('#hdnuClassValues2').val()).attr("selected", "selected");
            },
            error: function () {
                $('.spinner').hide();
                alert("3-An error occurred while processing the request.");
            }
        });
    };

</script>