<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc;padding-top:7px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 style="padding-top:3px;" class="modal-title"><b>Send Email</b></h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group" style="margin-top:5px;">
                    <label class="col-sm-2 control-label">To:</label>
                    <div class="col-sm-6">
                        <input name="EmailTo" class="form-control" id="EmailTo" type="text">
                    </div>
                </div>
                <div class="form-group" style="margin-top:5px;">
                    <label class="col-sm-2 control-label">CC:</label>
                    <div class="col-sm-6">
                        <input name="EmailCC" class="form-control" id="EmailCC" type="text" value="">
                    </div>
                </div>
                <div class="form-group" style="margin-top:5px;">
                    <label class="col-sm-2 control-label">BCC:</label>
                    <div class="col-sm-6">
                        <input name="EmailBCC" class="form-control" id="EmailBCC" type="text" value="">
                    </div>
                </div>
                <div class="form-group" style="margin-top:5px;">
                    <label class="col-sm-2 control-label">Subject:</label>
                    <div class="col-sm-6">
                        <input name="EmailSubject" class="form-control" id="EmailSubject" type="text" value="">
                    </div>
                </div>
                <div class="form-group" style="margin-top:5px;">
                    <label class="col-sm-2 control-label">Message:</label>
                    <div class="col-sm-10">
                        <textarea name="EmailMessage" class="form-control" cols="160" id="EmailMessage" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <input hidden="hidden" id="hdnSendEmailDocument">
        </div>

        <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;padding-right: 5px;padding-left: 5px;">
            <label class="col-sm-2 control-label" style="text-align:left;color:black;padding-top:5px;">Email Template:</label>
            <div class="col-sm-6">
                <select id="EmailTemplate" name="EmailTemplate" class="form-control">
                    <option selected="selected" value="0">-- Select --</option>
                </select>
            </div>
            <button type="button" class="btn btn-success" id="btnEmailPurSale"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Send Mail</button>
            <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Close</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        loadEmailTemplates()
        $('#EmailTemplate').change(function () {
            var url ='@Url.Action("GetMsgTextByTemplate")?Code=' + $('#EmailTemplate').val();
            $.ajax({
                type: "GET",
                dataType: "json",
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (result) {
                    $('#EmailMessage').text(result.EmailTemplate);
                    $('.spinner').hide();
                },
                error: function () {
                    $('.spinner').hide();
                    alert("1-An error occurred while processing the request.");
                }
            });
        })

        $('#btnEmailPurSale').click(function (event) {
            if ($("#EmailTo").val() == '') {
                alert('Email To is Required');
                return;
            }
            var ModelData = {};
            ModelData["Document"] = $("#hdnSendEmailDocument").val();
            ModelData["EmailCC"] = $("#EmailCC").val();
            ModelData["EmailTo"] = $("#EmailTo").val();
            ModelData["EmailBCC"] = $("#EmailBCC").val();
            ModelData["EmailMessage"] = $("#EmailMessage").val();
            ModelData["EmailSubject"] = $("#EmailSubject").val();
            var DTO = { Model: ModelData };
            var url = '@Url.Action("EmailData")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $("#ErrorMessage").hide();
                    $('.spinner').hide();
                    alert('Email Sent')
                    $('#emailprint').modal('hide');
                },
                error: function () {
                    alert("Error occured while processing your request.");
                }
            });
        });
    })

    function loadEmailTemplates() {
        var url = '@Url.Action("GetEmailTemplates")';
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {

            },
            success: function (result) {
                $.each(result, function (i, item) {
                    $("#EmailTemplate").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
            },
            error: function () {
                $('.spinner').hide();
                alert("2-An error occurred while processing the request.");
            }
        });
    };
</script>