@model GridOption
<script type="text/javascript">

    $(document).ready(function () {

    });
</script>

<div class="modal-dialog" style="width:unset;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body" style="padding:unset;">
            <div class="panel-body">
                <div class="position-center">
                    <form role="form">
                        <table class=" table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                @*@if (Model.fileUploader != null)
                                {
                                    foreach (var fName in Model.fileUploader)
                                    {
                                        var name = fName;
                                        <tr>
                                            <td>@fName.Name</td>
                                            <td>@fName.Size</td>
                                            <td>
                                                <button class=" sc_button sc_button_round sc_button_small" action="Delete" value="@fName.Name">Delete</button>
                                            </td>
                                            <td>
                                                @Html.ActionLink("View", "Download", new { Area = "Transaction", Controller = "frmCashBankold", TableKey = Model.TableKey, Name = fName.Name }, new { @Class = "sc_button sc_button_round sc_button_small", @tooltip = "Add", @action = "Download" })
                                            </td>
                                        </tr>
                                    }
                                }*@
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>