@model ALT_ERP3.Areas.Accounts.Models.LedgerVM
@using Common;
<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc;padding-top:5px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><b>Narration</b></h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-2 control-label">Narration:</div>

            @Html.TextAreaFor(x => x.NarrStr, new { @id = "addNarrStr", @name = "addNarrStr", @cols = 60, @rows = 10, @style = "height:211px;", @Value = Model.NarrStr })

        </div>
        <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;">
            <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
        </div>
    </div>
</div>
