
<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.SelectContent' != '') {

            if ('@Model.ViewDataId' == 'MultiSalesmanSelect') {
                $("#Subject").val('@Model.SelectContent');
            }
        }

        //$("#btnMultiSales").click(function (event) {
        //    event.preventDefault();
        //    $('#hdnViewDataId').val('MultiSalesmanSelect')

        //    $('#list').jqGrid('clearGridData');
        //    $('#list').jqGrid("GridUnload");
        //    $('#list').trigger('reloadGrid');
        //    gridreload()
        //    $(".divselected").empty();
        //    $('#multipartymodel').modal('show');
        //});
    });
</script>

        <div class="form-group">
            <label class="col-sm-1 control-label">Subject:</label>
            <div class="col-sm-9">
                <input type="text" id="Subject" name="Subject" class="form-control" style="width:100%;" />
            </div>
            @*<div class="col-sm-1" style="padding-left:0px;">
                <button class="btn btn-warning" style="font-size:13px;padding:3px 11px;" id="btnMultiSales">...</button>
            </div>*@
        </div>


