tr:nth-child(even) {
/*background-color: #EAF2D3;*/ 
}
tr{
height:30px;
font-size:15px;
width:100px;
}
#pager_right
{
    width:100px;
}
th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 2px;
}
#gbox_grid
{
    width:650px;
}