
@model GridOption
@using Common;

<script type="text/javascript">
    $(document).ready(function () {
        GetReportCode();
    });

    function GetReportCode() {
        var url = '@Url.Action("GetViewCodes")?term=' + '@Model.ViewDataId';
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                $('.spinner').show();
            },
            success: function (result) {
                $.each(result, function (i, item) {
                    $("#ViewCode").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('.spinner').hide();
            },

            error: function () {
                $('.spinner').hide();
                alert("An error occurred while processing the request.");
            }
        });
    };
</script>

<div class="modal-content" style="width:600px;padding-bottom:0px;">
    <div class="modal-header" style="background-color:#cccccc;padding-top:7px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><b>Ledger Parameters</b></h4>
    </div>
    <div class="modal-body" style="padding-top:-15px;">
        <div class="form-horizontal" id="fixedasstesinfo" style="min-height:350px;">
            <div id="ErrorMessage3" name="ErrorMessage3" class="alert alert-danger" style="display: none"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4"></div>
                <label class="col-sm-2 control-label">Format</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(x => x.ViewCode, DropdownHelper.EmptyList(), new { @Id = "ViewCode", @Name = "ViewCode", @style = "width:100%" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;padding-right: 5px;padding-left: 5px;">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
        <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Discard</button>
    </div>
</div>
@*<input type="hidden" id="hdnItem" />*@

