
@model ALT_ERP3.Areas.Accounts.Models.CreditPurchaseVM
@using Common
<table id="tblSpareDocDetails" class="zui-table" style="width:100%;background: linear-gradient(#e2dddd,#afafaf);">
    <thead>
        <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
            <th colspan="2">
                Part Cost:-  @Model.Cost  Estimate KM @Model.KM  EXP Days :- @Model.ExpDays
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>